name: Reusable Build Native

on:
  workflow_call:
    inputs:
      maven_args:
        description: 'Maven arguments for building'
        required: false
        type: string
        default: 'package -Dnative -DskipTests'
      artifact_name:
        description: 'Pattern of the artifact binary (glob)'
        required: false
        type: string
        default: 'mcp-*-server-*'
      retention_days:
        description: 'Days to keep the artifact'
        required: false
        type: number
        default: 1

jobs:
  build-native-linux:
    name: Build Native Binary (Linux)
    runs-on: ubuntu-latest
    timeout-minutes: 20
    container: almalinux:8
    
    steps:
      - name: Install dependencies
        run: |
          dnf install -y gcc glibc-devel zlib-devel tar gzip findutils maven
      
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Environment
        uses: ./.github/actions/setup-env
        with:
          type: 'native'
          java-version: '21'
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Build native binary
        run: mvn --batch-mode ${{ inputs.maven_args }}
        env:
          MAVEN_OPTS: "-Xmx4g"

      - name: Process native binaries
        run: ./.github/scripts/process-native.sh "${{ inputs.artifact_name }}" "linux-x64"

      - name: Upload native binary artifacts
        uses: actions/upload-artifact@v4
        with:
          name: native-linux-x64
          path: |
            **/target/${{ inputs.artifact_name }}*
            **/target/*.sha256
          retention-days: ${{ inputs.retention_days }}

  build-native-macos:
    name: Build Native Binary (macOS)
    runs-on: macos-14
    timeout-minutes: 20
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Environment
        uses: ./.github/actions/setup-env
        with:
          type: 'native'
          java-version: '21'
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Build native binary
        run: mvn --batch-mode ${{ inputs.maven_args }}
        env:
          MAVEN_OPTS: "-Xmx4g"
          MACOSX_DEPLOYMENT_TARGET: "11.0"

      - name: Process native binaries
        run: ./.github/scripts/process-native.sh "${{ inputs.artifact_name }}" "macos-arm64"

      - name: Upload native binary artifacts
        uses: actions/upload-artifact@v4
        with:
          name: native-macos-arm64
          path: |
            **/target/${{ inputs.artifact_name }}*
            **/target/*.sha256
          retention-days: ${{ inputs.retention_days }}
